<h1>Voter record for {{id}}</h1>

{{#each votes as |vote|}}
  <p>
    {{vote.bill_id}}
  </p>
  <p>
    {{vote.legislator_vote}}
  </p>
{{/each}}

{{#each bills as |bill|}}
  <p>
    {{bill.official_title}}
  </p>
{{/each}}
